/* SSMClient: Solid Solutions */

@charset "utf-8";

/* 	================
	Common Variables 
	================ */

:root {
	--ThemeColour: #edbc1a;
	--ReportHeaderColour: #323232;
	--TableHeaderColour: rgba(0, 0, 0, 0.493);
	--TableBorderColour: black;
	--BackgroundColour: black;
	--FontFamily: Arial, Helvetica, sans-serif;
	--FontColor: black;
	--FontSize: 20px;
	--TableBackgroundColour: white;
	--TableBackgroundColour2: #d8d8d8;
	--MenuFontColor: #333333;
	--LinkFontColor: blue;
	--CornerRadius: 50px;
	--HoverRowBackground: #edbc1ade;
	--TableResultsColor: black;
	--PanelDetailsImg: 300px;
	--CuttingPatternStockFontColor: rgb(255, 167, 96);
	--CuttingPatternLeftStockColor: rgb(0, 128, 0);
	--CuttingPatternRightStockColor: rgb(255, 167, 96);
	--CuttingPatternPanelColor: rgba(133, 151, 234);
	--CuttingPatternWasteColor: rgba(240, 131, 131);
	--CuttingPatternPaddingColor: rgba(218, 244, 158);
}

/* 	================
		Dark Theme 
	================ */

[data-theme='dark'] {
	--TableBorderColour: rgb(43, 42, 42);
	--BackgroundColour: black;
	--FontColor: white;
	--TableBackgroundColour: rgba(141, 129, 129, 0.829);
	--TableBackgroundColour2: rgba(121, 110, 110, 0.829);
	--MenuFontColor: #cccacae5;
	--LinkFontColor: rgb(8, 8, 112);
	--TableResultsColor: gray;
	--MenuHoverColor: rgb(31, 31, 31);
}

/* 	================
		Light Theme 
	================ */

[data-theme='light'] {
	--TableBorderColour: black;
	--BackgroundColour: #e1e1e1;
	--FontColor: black;
	--TableBackgroundColour: white;
	--TableBackgroundColour2: #d8d8d8;
	--MenuFontColor: #333333;
	--LinkFontColor: blue;
	--TableResultsColor: black;
	--MenuHoverColor: rgb(150, 150, 150);
}

html {
	font-family: var(--FontFamily);
	font-size: var(--FontSize);
}

body {
	color: var(--FontColor);
	background-color: var(--BackgroundColour);
	/* overflow-x: hidden; */
	overflow-x: visible;
	margin: 10px;
	padding: 0;
	/* Places Footer at bottom  */
	min-height: 97.5vh;
	display: flex;
	flex-direction: column;
	/* Animation for theme change  */
	/* transition: background-color 0.5s ease, color 0.5s ease; */
}

/*	================ 
		Images
	================ */

.Report_Header_Logo img {
	height: 35px;
}

.Report_Header_Company_Logo img {
	width: 150px;
}

img.img-Home {
	height: 515px;
}

img.ProgramIndicator {
	height: 20px;
}

img.DeleteIcon {
	height: 20px;
}

img.PDFIcon {
	height: 20px;
	cursor: pointer;
}
.PDFIcon {
	cursor: pointer;
}

img.img-Program {
	height: 300px;
}
img.NestingProgram {
	height: 300px;
}

img.PrintIcon {
	height: 30px;
	cursor: pointer;
}

img.img-MainProgramDetails,
img.img-MainFrameDetails,
img.img-MainSheetDetails {
	height: 400px;
}

img.img-MainPanelDetails {
	height: 410px;
}

img.img-Settings {
	height: 25px;
	cursor: pointer;
}

#SettingsButton {
	margin: 0px;
}

.img-PanelDetails-Cell {
	width: var(--PanelDetailsImg);
	background-color: white;
}

.img-PanelDetail {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: var(--PanelDetailsImg);

	/* Center grain container  */
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* To center image in detail pages */
.img-MainDetails-Container {
	display: flex;
	justify-content: center;
}

.DetailedImageTable {
	border: 2px solid black;
	border-bottom: none;
	background: white;
}

.LogoutButton {
	background-color: var(--ReportHeaderColour);
	color: rgba(240, 240, 240, 0.377);
	cursor: pointer;
	border: none;
	font-size: 15px;
	padding-left: 20px;
}

.LoggedUser {
	/* background-color: var(--ReportHeaderColour); */
	color: rgba(240, 240, 240, 0.377);
	/* cursor: pointer; */
	/* border: none; */
	font-size: 15px;
	padding-left: 20px;
}

.LogoutButton:hover {
	color: #edbc1a;
}

/*	================ 
		Links
	================ */

a {
	text-decoration: none;
	color: var(--LinkFontColor);
}

a:visited,
a:hover {
	text-decoration: none;
	color: var(--LinkFontColor);
}

a:hover {
	text-decoration: none;
	color: black;
}

/*	================ 
		Tables
	================ */

table {
	width: 100%;
	text-align: center;
}

.ContainerTable {
	width: 100%;
	border: 2px solid var(--TableBorderColour); /*Table outline border*/
	border-collapse: collapse;
	text-align: center;
	background-color: var(--TableBackgroundColour);
}

/* Cell within table */
.ContainerTable td {
	border: 2px solid var(--TableBorderColour);
	padding: 0px;
}

.NestedTable {
	border-collapse: collapse;
	border-style: hidden;
	background-color: var(--TableBackgroundColour);
}

.NestedTableContainer {
	vertical-align: top;
	border: 5px solid red;
}

.NestedTable {
	border-top: none;
	border-bottom: 1px solid black;
}

.NestedTable td {
	border: 1px solid var(--TableBorderColour);
}

.NestedTable td,
.NestedTable th {
	padding: 5px;
}

.TableHeader {
	background-color: var(--TableHeaderColour);
}

.TableTitle {
	white-space: nowrap;
}

.TableTitle a {
	color: var(--FontColor);
}

.TableSectionHeader {
	border-top: 1px solid black;
	background-color: rgba(66, 66, 66, 0.219);
	font-weight: bold;
}

.TableSectionMenu {
	font-weight: bold;
}

.Table,
.TableTabTitle {
	border: 2px solid var(--TableBorderColour);
	border-collapse: collapse;
	/* border-style: hidden; */
	background-color: var(--TableBackgroundColour);
}

.TableTabTitle {
	border-bottom: 1px solid var(--TableBorderColour);
}

.Table td {
	border: 1px solid var(--TableBorderColour);
}

.Table td,
.Table th {
	padding: 2px;
}

.Table tr:first-child {
	border: 2px solid var(--TableBorderColour);
}

.Table tr:nth-child(even) {
	background-color: var(--TableBackgroundColour2);
}

.Table tr:nth-child(n + 3):hover {
	background-color: var(--HoverRowBackground);
}

.Total {
	border: 1px solid var(--TableBorderColour);
	color: var(--ThemeColour);
}

/*	================ 
		Page Header
	================ */

.Report_Header {
	color: var(--ThemeColour);
	font-weight: bold;
	background-color: var(--ReportHeaderColour);
	font-family: inherit;
	font-size: 20px;
}

table.Report_Header {
	border-radius: var(--CornerRadius);
}

.Report_Header td {
	height: 50px;
}

.Report_Header {
	width: 100%;
	border: none;
	padding: 0px;
}

.Report_Header_Current_Menu {
	font-weight: bold;
	width: 15%;
	text-align: left;
	padding-left: 10px;
	white-space: nowrap;
}

.Report_Header_Project_Name {
	font-weight: bold;
	font-size: larger;
	/* width: 70%; */
	text-align: center;
	white-space: nowrap;
}

.Report_Header_Home {
	text-align: center;
	width: 35px;
	height: 30px;
	padding-left: 15px;
}

.Report_Header_Home img {
	height: 30px;
}

.Report_Header_Labels {
	text-align: center;
	width: 35px;
	height: 30px;
}

.Report_Header_Labels img {
	height: 37px;
}

.Report_Header_Logo {
	width: 110px;
	text-align: right;
	padding-right: 15px;
}

.Report_Header_Company_Logo {
	width: 110px;
	text-align: left;
	padding-right: 15px;
}

/*	================ 
		Home Page 
	================ */

.HomeContainerTable {
	width: 100%;
	border: 2px solid var(--TableBorderColour); /*Table outline border*/
	border-collapse: collapse;
	text-align: center;
	background-color: white;
}

/* Cell within table */
.HomeContainerTable td {
	border: 2px solid var(--TableBorderColour);
	padding: 0px;
}

.HomeNestedTable {
	border-collapse: collapse;
	border: 2px solid var(--TableBorderColour);
	border-top: none;
	/* border-style: hidden; */
	background-color: var(--TableBackgroundColour);
}

.HomeNestedTable td {
	border: 1px solid var(--TableBorderColour);
}

.HomeNestedTable td,
.HomeNestedTable th {
	padding: 5px;
}

.HomeNestedTable tr td:first-child {
	text-align: left;
	font-weight: bold;
	vertical-align: top;
	white-space: nowrap;
	width: 10%;
}

.HomeNestedTable tr td:nth-child(2) {
	text-align: left;
}

/*	================ 
		Messages
	================ */

@keyframes up-right {
	0% {
		transform: scale(1);
		opacity: 0.25;
	}
	50% {
		transform: scale (1, 5);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.25;
	}
}

#WarningCircle {
	height: 10px;
	width: 10px;
	background-color: green; /* Color controlled by Menu  */
	border-radius: 50%;
	display: inline-block;
	vertical-align: auto;
	margin-left: 3px;
	margin-bottom: 1px;
	animation: up-right 1s infinite;
}

#WarningCircleExcluded {
	height: 6px;
	width: 6px;
	background-color: green; /* Color controlled by Menu  */
	border-radius: 50%;
	display: inline-block;
	vertical-align: auto;
	background: Orange;
	margin-left: 2px;
	/* margin-bottom: 5px; */
}

.Error {
	background-color: rgb(184, 0, 0);
}

.Warning {
	background-color: orange;
}

.Message {
	background-color: green;
}

.UpdateAvailable {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: auto;
	background: green;
	margin-left: 2px;
	vertical-align: super;
}

.Certificate {
	position: fixed;
	top: 40%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	color: rgb(255, 53, 53);
}

/*	================ 
		Toggle Switch 
	================ */

.modelDisplayContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
}

#ToggleSwitch_1,
#ToggleSwitch_2 {
	font-size: 18px;
}

#ToggleModel {
	font-size: 0.7em;
}

table#ToggleSwitch_1,
table#ToggleSwitch_2,
table#ToggleModel {
	width: 125px;
	white-space: nowrap;
	padding-left: 20px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--ThemeColour);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--ThemeColour);
}

input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*	================ 
		Tooltip
	================ */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip img {
	width: 20px;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	min-width: 175px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	text-align: left;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 150%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/*	================ 
		Swipe
	================ */

.Swipe {
	background: white;
	width: 150px;
	cursor: pointer;
	color: black;
}

.Swipe:hover {
	background: rgba(223, 223, 223, 0.678);
	cursor: pointer;
}

/*	================ 
		Footer
	================ */

#Footer {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--ReportHeaderColour);
	border-radius: var(--CornerRadius);
	padding-left: 20px;
	padding-right: 20px;
	height: 56px;
	border-top: 20px;
}

.Footer-Left {
	flex-grow: 1;
}

.Footer-Left img {
	display: block;
	width: auto; /* maintain aspect ratio*/
	margin: auto; /*optional centering of image*/
}

.Footer-Right {
	flex-grow: 100;
	text-align: right;
	font-size: 15px;
}

.Footer-MarginTop {
	height: 10px;
}

#Footer a {
	color: rgba(240, 240, 240, 0.377);
}

/*	================ 
		Menu 
	================ */

nav.Menu {
	display: flex;
	justify-content: center;
}

.Menu ul {
	padding-left: 0; /* overwrite default browser setting  */
	margin: auto;
	z-index: 20000;
}

nav.Menu li {
	position: relative;
	display: block;
	opacity: 0;
	cursor: pointer;
	font-weight: bold;
}

nav.Menu li > ul {
	position: absolute;
	pointer-events: none;
}

nav.Menu > ul {
	display: flex;
}

nav.Menu > ul > li {
	pointer-events: all;
	opacity: 1;
}

.Menu ul li a {
	white-space: nowrap;
	display: block;
}

.Menu li:hover > ul {
	pointer-events: initial;
}

.Menu ul:hover > li,
.Menu li:hover > ul > li {
	opacity: 1;
}

nav.Menu > ul > li li ul {
	transform: translateX(100%);
	top: 0;
	right: 0;
}

nav.Menu a {
	background: var(--BackgroundColour);
	color: var(--FontColor);
	min-width: 150px;
	transition: background 0.3s, color 0.5s, transform 0.5s;
	/* Define space betweens  */
	margin: 5px 5px;
	padding: 20px 30px 20px 40px;
	box-sizing: border-box;
	border-radius: 3px;
	/* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
	position: relative;
	/* text-align: center; */
	font-size: 17px;
}

nav.Menu a:hover {
	background: var(--MenuHoverColor);
}

nav.Menu > ul > li > a + ul:after {
	content: '';
	position: absolute;
	border: 8px solid transparent;
	border-top: 10px solid var(--ThemeColour);
	left: 20px;
	top: -40px;
}

nav.Menu li > ul > li > a + ul:after {
	content: '';
	position: absolute;
	border: 8px solid transparent;
	border-left: 10px solid var(--ThemeColour);
	top: 20px;
	left: -180px;
	transition: opacity 0.6, transform 0s;
}

nav.Menu > ul > li > ul > li {
	transition: transform 0.2s, opacity 0.2s;
	transform: translateY(10px);
	opacity: 0;
}

nav.Menu > ul > li:hover > ul > li,
nav.Menu > ul > li.hover > ul > li {
	transform: translateY(0%);
	opacity: 1;
}

.Menu li > ul > li > ul > li {
	transition: transform 0.2s, opacity 0.2s;
	transform: translateX(10px) translateY(0%);
	opacity: 0;
}

.Menu li > ul > li:hover > ul > li,
.Menu li > ul > li.hover > ul > li {
	transform: translateX(0) translateY(0);
	opacity: 1;
}

/* search box and drop down display */
#filter-value {
	background-position: 7px 3px;
	background-repeat: no-repeat;
	width: 180px;
	font-size: 16px;
	/* padding: 12px 20px 12px 40px;  */
	padding-left: 35px;
	border: 1px solid #ddd;
	/* margin-bottom: 12px;  */
	height: 30px;
	border-radius: 4px;
	margin-left: 5px;
	/* margin-right: 5px; */
}

#filter-field {
	margin-bottom: 5px;
	height: 34px;
	width: 110px;
	border: 1px solid #ddd;
	font-size: 16px;
	border-radius: 4px;
	margin-left: 5px;
}

#filter-type {
	height: 34px;
	width: 60px;
	border: 1px solid #ddd;
	height: 34px;
	font-size: 16px;
	border-radius: 4px;
	margin-left: 5px;
}

#filter-clear {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	/* padding: 12px 60px; */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* margin: 4px 2px; */
	margin-bottom: 5px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
	/* border: 2px solid #ffffff; */
	height: 34px;
	border-radius: 4px;
	width: 70px;
}

.TotalResults,
.TableResults,
.MainTableResults {
	color: var(--TableResultsColor);
	font-size: 17px;
	font-style: italic;
	font-weight: normal;
	text-align: right;
}

.MainTableResults,
.TableResults {
	width: 200px;
	white-space: nowrap;
}

.MainTableResults {
	display: none;
}

.PrintButton {
	text-align: right;
	width: 40px;
}

th.PrintButton {
	padding: 00.5px;
	padding-right: 2.5px;
}

.PrintButton button {
	border: none;
	background: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.GrainContainer {
	position: relative;
	height: var(--PanelDetailsImg);
	width: var(--PanelDetailsImg);
}

.GrainContainer > img {
	position: absolute;
	top: 50%;
	right: 50%;
}

.TopGrain {
	z-index: 2;
}

td.CommentsTitle {
	border-right: none;
	width: 50px;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
}

td.CommentsBox {
	border-left: none;
	text-align: left;
	padding-left: 0px;
}

/*	================ 
    	Summary Chart 
	================ */
.SummaryChart {
	/* padding-top: 0px; */
	/* padding-bottom: 0px; */
	position: relative;
	margin: auto;
	width: 400px;
}

/*	================ 
        Models
	================ */

#renderCanvas {
	/* width: 800; */
	height: 405px;
	touch-action: none;
}

/*	================ 
        Modal
	================ */

#myProgress {
	width: 100%;
	background-color: #ddd;
	border-radius: 15px;
}

#myBar {
	width: 0%;
	height: 30px;
	background-color: #edbc1a;
	border-radius: 15px;
	border-color: #161819;
	transition: width 0.5s;
}

.PrintModalBackground {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.95);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	top: 0;
	left: 0;
}

.modalContainer {
	width: 40%;
	height: auto;
	border-radius: 20px;
	background-color: #161819;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	z-index: 5000;
}

.modalContainer .body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-align: center;
}

.modalContainer .footer {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalNote {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
}

.loader {
	border: 3px solid #cf8f18;
	border-radius: 50%;
	border-top: 3px solid #ffffff;
	width: 15px;
	height: 15px;
	-webkit-animation: spin 0.3s linear infinite;
	animation: spin 0.3s linear infinite;
	margin-left: 10px;
	/* margin: auto; */
	/* left: 0; */
	/* right: 0; */
	/* top: 0px; */
	/* bottom: 0; */
	/* position: fixed; */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
/*	========================= 
		Tabulator Scroll Bar
	========================= */

.tabulator-tableholder::-webkit-scrollbar {
	width: 12px;
	/* width of the entire scrollbar */
}

.tabulator-tableholder::-webkit-scrollbar-track {
	background: #333;
	/* color of the tracking area */
}

.tabulator-tableholder::-webkit-scrollbar-thumb {
	background-color: #666;
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 3px solid #333;
	/* creates padding around scroll thumb */
}

/* Handle on hover */
.tabulator-tableholder::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Beta */
.betaClass {
	content: 'β';
	background-color: rgb(62, 62, 255);
	color: white;
	border-radius: 100px;
	font-style: italic;
	font-size: 0.75em;
	vertical-align: super;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: normal;
}

/* Sheet Details CSS */
.TablePanelItem:hover {
	background-color: var(--HoverRowBackground);
}

.TablePanelItemHighlight {
	background-color: var(--HoverRowBackground);
}

/* BoardEstimation */

.stock-text {
	font-size: 25pt;
}

.cut-text {
	font-size: 50pt;
}

line {
	stroke-width: 10;
}

.line-x {
	stroke-width: 5;
	stroke: red;
}

.line-y {
	stroke-width: 5;
	stroke: green;
}

.line-external {
	stroke-width: 10;
	stroke: black;
}

.boardWrapper {
	position: relative;
}

.cuttingpattern-grainArrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 80%;
}

.cuttingpattern-grainArrow-vertical {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	width: 80%;
}

.EstimatedBoard {
	fill: rgba(255, 222, 73, 0.438);
	stroke: black;
	stroke-width: 1px;
}

.StockSvg {
	fill: rgb(255, 186, 96);
	stroke: black;
	stroke-width: 1px;
}

.StockSvg:hover {
	fill: rgb(255, 93, 93);
	transition: 0.2s;
}

.HoverPanel {
	background-color: #edbc1ade;
}

.StockTableItem:hover {
	background-color: #edbc1ade;
}

.StockSvgHover {
	fill: rgba(255, 93, 93, 0.705);
	transition: 0.2s;
}

/*	================ 
    Cutting Pattern
	================ */

.cutLine {
	stroke: red;
	stroke-dasharray: 5000;
	stroke-dashoffset: 5000;
	animation: dash 1.5s ease forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.cuttingpattern-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	/* display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row; */
}

.cuttingpattern-board {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}

.cuttingpattern-StockSvg {
	fill: rgb(255, 186, 96);
	stroke: black;
	stroke-width: 15px;
}

.cuttingpattern-StockSvg:hover {
	fill: rgb(255, 93, 93);
	transition: 0.5s;
}

.cuttingpattern-svgHover {
	/* fill: rgba(255, 93, 93, 0.705); */
	fill: rgb(93, 255, 201);
	transition: 0.5s;
}

.cuttingpattern-stockTableItem:hover {
	background-color: #edbc1ade;
	border-radius: 5px;
}

.cuttingpattern-text-id {
	font-size: 30pt;
}

.cuttingpattern-text-dimension {
	font-size: 30pt;
	/* stroke: rgb(78, 78, 78); */
	fill: rgb(61, 61, 61);
}

.LeftCut {
	fill: var(--CuttingPatternLeftStockColor);
	stroke: black;
	stroke-width: 1px;
}

.RightCut {
	fill: var(--CuttingPatternRightStockColor);
	stroke: black;
	stroke-width: 1px;
}

.item {
	fill: var(--CuttingPatternPanelColor);
	stroke: black;
	stroke-width: 1px;
}

.padding {
	fill: var(--CuttingPatternPaddingColor);
	stroke: black;
	stroke-width: 1px;
}

.waste {
	fill: var(--CuttingPatternWasteColor);
	stroke: black;
	stroke-width: 1px;
}

.cuttingpattern-container-statistics {
	display: flex;
}

.cuttingpattern-list-statistics > p,
.cuttingpattern-list-cuts > p,
.cuttingpattern-list-panels > p {
	margin: 2.5px;
	cursor: pointer;
	font-size: 0.7em;
	display: flex;
	align-items: center;
}

.cuttingpattern-list-cuts-item:hover {
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px #edbc1ade inset;
}

.cuttingpattern-highlight-test {
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px #edbc1ade inset;
	background-color: #edbc1a6c;
	/* background-color: gray; */
}

.hidden {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(0, 0, 0, 0);
}

.cuttingpattern-container-table {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.cuttingpattern-statistics-header,
.cuttingpattern-cuts-header {
	margin-top: 15px;
	margin-bottom: 5px;
}

.cuttingpattern-sidebar {
	height: 700px;
	overflow: auto;
	padding-left: 20px;
	padding-top: 20px;
}

.cuttingpattern-sidebar::-webkit-scrollbar {
	/* width of the entire scrollbar */
	width: 12px;
}

.cuttingpattern-sidebar::-webkit-scrollbar-track {
	/* color of the tracking area */
	background: #333;
}

.cuttingpattern-sidebar::-webkit-scrollbar-thumb {
	/* color of the scroll thumb */
	background-color: #666;
	/* roundness of the scroll thumb */
	border-radius: 20px;
	/* creates padding around scroll thumb */
	border: 3px solid #333;
}

.cuttingpattern-sidebar::-webkit-scrollbar-thumb:hover {
	/* Handle on hover */
	background: #555;
}

img.doubleArrowIcon {
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.listNumber {
	width: 25px;
	text-align: center;
}

.hatchedRectangle {
	fill: rgb(52, 66, 255);
	stroke: black;
	stroke-width: 15px;
}

.cuttingpattern-hatching {
	stroke: #0000007a;
	stroke-width: 2px;
}

.panelFont {
	color: var(--CuttingPatternPanelColor);
}

.stockFont {
	color: var(--CuttingPatternStockFontColor);
}

.paddingFont {
	color: var(--CuttingPatternPaddingColor);
}

.wasteFont {
	color: var(--CuttingPatternWasteColor);
}

.piechart {
	margin-left: 50px;
}

.piechart-panel {
	stroke: var(--CuttingPatternPanelColor);
}

.piechart-waste {
	fill: var(--CuttingPatternWasteColor);
}

.piechart-hatching {
	stroke: #0000003f;
	stroke-width: 0.5px;
}

.cuttingpattern-statschart {
	width: 200px;
}

/* ######################## TableTab ################################### */

.tabulator {
	position: relative;
	border: 2px solid var(--TableBorderColour);
	border-top: none;
	background-color: #222;
	font-size: var(--FontSize);
	text-align: left;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.tabulator[tabulator-layout='fitDataFill'] .tabulator-tableholder .tabulator-table {
	min-width: 100%;
}

.tabulator[tabulator-layout='fitDataTable'] {
	display: inline-block;
}

.tabulator.tabulator-block-select {
	user-select: none;
}

.tabulator.tabulator-ranges .tabulator-cell:not(.tabulator-editing) {
	user-select: none;
}

.tabulator .tabulator-header {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid var(--TableBorderColour);
	background-color: #333;
	color: var(--FontColor);
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	outline: none;
}

.tabulator .tabulator-header.tabulator-header-hidden {
	display: none;
}

.tabulator .tabulator-header .tabulator-header-contents {
	position: relative;
	overflow: hidden;
}

.tabulator .tabulator-header .tabulator-header-contents .tabulator-headers {
	display: inline-block;
}

.tabulator .tabulator-header .tabulator-col {
	display: inline-flex;
	position: relative;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	border-right: 1px solid black;
	background-color: var(--TableBackgroundColour);
	text-align: left;
	vertical-align: bottom;
	overflow: hidden;
}

.tabulator .tabulator-header .tabulator-col.tabulator-moving {
	position: absolute;
	border: 1px solid black;
	background: #1a1a1a;
	pointer-events: none;
}

.tabulator .tabulator-header .tabulator-col.tabulator-range-highlight {
	background-color: #999;
	color: #000000;
}

.tabulator .tabulator-header .tabulator-col.tabulator-range-selected {
	background-color: #ccc;
	color: #333;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
	box-sizing: border-box;
	position: relative;
	padding: 4px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-popup-button {
	padding: 0 8px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-popup-button:hover {
	cursor: pointer;
	opacity: 0.6;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title-holder {
	position: relative;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
	box-sizing: border-box;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title.tabulator-col-title-wrap {
	white-space: normal;
	text-overflow: initial;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid black;
	padding: 1px;
	background: #444;
	color: var(--FontColor);
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-header-popup-button + .tabulator-title-editor {
	width: calc(100% - 22px);
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 4px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgb(161, 155, 155);
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
	position: relative;
	display: flex;
	border-top: 1px solid #aaa;
	overflow: hidden;
	margin-right: -1px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
	position: relative;
	box-sizing: border-box;
	margin-top: 2px;
	width: 100%;
	text-align: center;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter textarea {
	height: auto !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter svg {
	margin-top: 3px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input::-ms-clear {
	width: 0;
	height: 0;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
	padding-right: 25px;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
		cursor: pointer;
		background-color: #1a1a1a;
	}
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='none'] .tabulator-col-content .tabulator-col-sorter {
	color: #bbb;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='none'] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
		cursor: pointer;
		border-bottom: 6px solid #555;
	}
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='none'] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
	border-top: none;
	border-bottom: 6px solid #bbb;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='ascending'] .tabulator-col-content .tabulator-col-sorter {
	color: #666;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='ascending'] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
		cursor: pointer;
		border-bottom: 6px solid #555;
	}
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='ascending'] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
	border-top: none;
	border-bottom: 6px solid #edbc1ad7;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='descending'] .tabulator-col-content .tabulator-col-sorter {
	color: #666;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='descending'] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
		cursor: pointer;
		border-top: 6px solid #555;
	}
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort='descending'] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
	border-bottom: none;
	border-top: 6px solid #edbc1ad7;
	color: #666;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical .tabulator-col-content .tabulator-col-title {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-col-vertical-flip .tabulator-col-title {
	transform: rotate(180deg);
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-col-title {
	padding-right: 0;
	padding-top: 20px;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable.tabulator-col-vertical-flip .tabulator-col-title {
	padding-right: 0;
	padding-bottom: 20px;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-col-sorter {
	justify-content: center;
	left: 0;
	right: 0;
	top: 4px;
	bottom: auto;
}

.tabulator .tabulator-header .tabulator-frozen {
	position: sticky;
	left: 0;
	z-index: 11;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
	border-right: 2px solid #888;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-right {
	border-left: 2px solid #888;
}

.tabulator .tabulator-header .tabulator-calcs-holder {
	box-sizing: border-box;
	display: inline-block;
	background: #1a1a1a !important;
	border-top: 1px solid #888;
	border-bottom: 1px solid #aaa;
	overflow: hidden;
}

.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row {
	background: #1a1a1a !important;
}

.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
	display: none;
}

.tabulator .tabulator-header .tabulator-frozen-rows-holder {
	min-width: 600%;
}

.tabulator .tabulator-header .tabulator-frozen-rows-holder:empty {
	display: none;
}

.tabulator .tabulator-tableholder {
	position: relative;
	width: 100%;
	white-space: nowrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.tabulator .tabulator-tableholder:focus {
	outline: none;
}

.tabulator .tabulator-tableholder .tabulator-placeholder {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	width: 100%;
}

.tabulator .tabulator-tableholder .tabulator-placeholder[tabulator-render-mode='virtual'] {
	min-height: 100%;
}

.tabulator .tabulator-tableholder .tabulator-placeholder .tabulator-placeholder-contents {
	display: inline-block;
	text-align: center;
	padding: 10px;
	color: #eee;
	font-weight: bold;
	font-size: 20px;
	white-space: normal;
}

.tabulator .tabulator-tableholder .tabulator-table {
	position: relative;
	display: inline-block;
	background-color: var(--TableBackgroundColour);
	white-space: nowrap;
	overflow: visible;
	color: var(--FontColor);
}

.tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs {
	font-weight: bold;
	background: #373737 !important;
}

.tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-top {
	border-bottom: 2px solid #888;
}

.tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-bottom {
	border-top: 2px solid #888;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay {
	position: absolute;
	inset: 0;
	z-index: 10;
	pointer-events: none;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range {
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range.tabulator-range-active::after {
	content: '';
	position: absolute;
	right: -3px;
	bottom: -3px;
	width: 6px;
	height: 6px;
	background-color: #ccc;
	border-radius: 999px;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range-cell-active {
	position: absolute;
	box-sizing: border-box;
	border: 2px solid #ccc;
}

.tabulator .tabulator-footer {
	border-top: 1px solid #999;
	background-color: #333;
	color: #333;
	font-weight: bold;
	white-space: nowrap;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.tabulator .tabulator-footer .tabulator-footer-contents {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
}

.tabulator .tabulator-footer .tabulator-footer-contents:empty {
	display: none;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs {
	margin-top: -5px;
	overflow-x: auto;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab {
	display: inline-block;
	padding: 5px;
	border: #333 1px solid;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 0.9em;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab:hover {
	cursor: pointer;
	opacity: 0.7;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab.tabulator-spreadsheet-tab-active {
	background: #fff;
}

.tabulator .tabulator-footer .tabulator-calcs-holder {
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	background: #262626 !important;
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	overflow: hidden;
}

.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {
	display: inline-block;
	background: #262626 !important;
}

.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
	display: none;
}

.tabulator .tabulator-footer .tabulator-calcs-holder:only-child {
	margin-bottom: -5px;
	border-bottom: none;
}

.tabulator .tabulator-footer > * + .tabulator-page-counter {
	margin-left: 10px;
}

.tabulator .tabulator-footer .tabulator-page-counter {
	font-weight: normal;
}

.tabulator .tabulator-footer .tabulator-paginator {
	flex: 1;
	text-align: right;
	color: #333;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

.tabulator .tabulator-footer .tabulator-page-size {
	display: inline-block;
	margin: 0 5px;
	padding: 2px 5px;
	border: 1px solid black;
	border-radius: 3px;
}

.tabulator .tabulator-footer .tabulator-pages {
	margin: 0 7px;
}

.tabulator .tabulator-footer .tabulator-page {
	display: inline-block;
	margin: 0 2px;
	padding: 2px 5px;
	border: 1px solid black;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.2);
}

.tabulator .tabulator-footer .tabulator-page.active {
	color: #fff;
}

.tabulator .tabulator-footer .tabulator-page:disabled {
	opacity: 0.5;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-footer .tabulator-page:not(disabled):hover {
		cursor: pointer;
		background: rgba(0, 0, 0, 0.2);
		color: #fff;
	}
}

.tabulator .tabulator-col-resize-handle {
	position: relative;
	display: inline-block;
	width: 6px;
	margin-left: -3px;
	margin-right: -3px;
	z-index: 11;
	vertical-align: middle;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-col-resize-handle:hover {
		cursor: ew-resize;
	}
}

.tabulator .tabulator-col-resize-handle:last-of-type {
	width: 3px;
	margin-right: 0;
}

.tabulator .tabulator-col-resize-guide {
	position: absolute;
	top: 0;
	width: 4px;
	height: 100%;
	margin-left: -0.5px;
	background-color: #999;
	opacity: 0.5;
}

.tabulator .tabulator-row-resize-guide {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	margin-top: -0.5px;
	background-color: #999;
	opacity: 0.5;
}

.tabulator .tabulator-alert {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 100;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.tabulator .tabulator-alert .tabulator-alert-msg {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px;
	border-radius: 10px;
	background: #fff;
	font-weight: bold;
	font-size: 16px;
}

.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
	border: 4px solid #333;
	color: #000;
}

.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-error {
	border: 4px solid #d00;
	color: #590000;
}

.tabulator-row {
	position: relative;
	box-sizing: border-box;
	min-height: 22px;
	background-color: var(--TableBackgroundColour);
}

.tabulator-row.tabulator-row-even {
	background-color: var(--TableBackgroundColour2);
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-row.tabulator-selectable:hover {
		background-color: var(--HoverRowBackground);
		cursor: pointer;
	}
}

.tabulator-row.tabulator-selected {
	background-color: var(--HoverRowBackground);
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-row.tabulator-selected:hover {
		background-color: var(--HoverRowBackground);
		cursor: pointer;
	}
}

.tabulator-row.tabulator-row-moving {
	border: 1px solid #000;
	background: #fff;
}

.tabulator-row.tabulator-moving {
	position: absolute;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	pointer-events: none;
	z-index: 15;
}

.tabulator-row.tabulator-range-highlight .tabulator-cell.tabulator-range-row-header {
	background-color: #999;
	color: #000000;
}

.tabulator-row.tabulator-range-highlight.tabulator-range-selected .tabulator-cell.tabulator-range-row-header {
	background-color: #ccc;
	color: #333;
}

.tabulator-row.tabulator-range-selected .tabulator-cell.tabulator-range-row-header {
	background-color: #ccc;
	color: #333;
}

.tabulator-row .tabulator-row-resize-handle {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 5px;
}

.tabulator-row .tabulator-row-resize-handle.prev {
	top: 0;
	bottom: auto;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-row .tabulator-row-resize-handle:hover {
		cursor: ns-resize;
	}
}

.tabulator-row .tabulator-responsive-collapse {
	box-sizing: border-box;
	padding: 5px;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}

.tabulator-row .tabulator-responsive-collapse:empty {
	display: none;
}

.tabulator-row .tabulator-responsive-collapse table {
	font-size: 14px;
}

.tabulator-row .tabulator-responsive-collapse table tr td {
	position: relative;
}

.tabulator-row .tabulator-responsive-collapse table tr td:first-of-type {
	padding-right: 10px;
}

.tabulator-row .tabulator-cell {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding: 4px;
	border-right: 1px solid var(--TableBorderColour);
	border-top: 1px solid var(--TableBorderColour);
	vertical-align: middle;
	/* TableTab Wrap type */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none;
}

.tabulator-row .tabulator-cell.tabulator-row-header {
	border-right: 1px solid #333;
	border-bottom: 1px solid #888;
	background: #333;
}

.tabulator-row .tabulator-cell.tabulator-frozen {
	display: inline-block;
	position: sticky;
	left: 0;
	background-color: inherit;
	z-index: 11;
}

.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
	border-right: 2px solid #888;
}

.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right {
	border-left: 2px solid #888;
}

.tabulator-row .tabulator-cell.tabulator-editing {
	/* border: 1px solid black; */
	outline: none;
	padding: 0;
	background-color: rgba(255, 0, 0, 0.336);
}

.tabulator-row .tabulator-cell.tabulator-editing input,
.tabulator-row .tabulator-cell.tabulator-editing select {
	border: 1px;
	background: transparent;
	outline: none;
	font-size: 16px;
}

.tabulator-row .tabulator-cell.tabulator-validation-fail {
	border: 1px solid #dd0000;
}

.tabulator-row .tabulator-cell.tabulator-validation-fail input,
.tabulator-row .tabulator-cell.tabulator-validation-fail select {
	border: 1px;
	background: transparent;
	color: #dd0000;
}

.tabulator-row .tabulator-cell.tabulator-row-handle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box {
	width: 80%;
}

.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
	width: 100%;
	height: 3px;
	margin-top: 2px;
	background: #666;
}

.tabulator-row .tabulator-cell.tabulator-range-selected:not(.tabulator-range-only-cell-selected):not(.tabulator-range-row-header) {
	background-color: #000;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-branch-empty {
	display: inline-block;
	width: 7px;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-branch {
	display: inline-block;
	vertical-align: middle;
	height: 9px;
	width: 7px;
	margin-top: -9px;
	margin-right: 5px;
	border-bottom-left-radius: 1px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	height: 11px;
	width: 11px;
	margin-right: 5px;
	border: 1px solid var(--FontColor);
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-row .tabulator-cell .tabulator-data-tree-control:hover {
		cursor: pointer;
		background: rgba(0, 0, 0, 0.2);
	}
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse {
	display: inline-block;
	position: relative;
	height: 7px;
	width: 1px;
	background: transparent;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
	position: absolute;
	content: '';
	left: -3px;
	top: 3px;
	height: 1px;
	width: 7px;
	background: var(--FontColor);
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand {
	display: inline-block;
	position: relative;
	height: 7px;
	width: 1px;
	background: var(--FontColor);
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
	position: absolute;
	content: '';
	left: -3px;
	top: 3px;
	height: 1px;
	width: 7px;
	background: var(--FontColor);
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	height: 15px;
	width: 15px;
	border-radius: 20px;
	background: #fff;
	color: #666;
	font-weight: bold;
	font-size: 1.1em;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-close {
	display: initial;
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-open {
	display: none;
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle svg {
	stroke: #666;
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle .tabulator-responsive-collapse-toggle-close {
	display: none;
}

.tabulator-row .tabulator-cell .tabulator-traffic-light {
	display: inline-block;
	height: 14px;
	width: 14px;
	border-radius: 14px;
}

.tabulator-row.tabulator-group {
	box-sizing: border-box;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	padding: 5px;
	padding-left: 10px;
	background: #ccc;
	font-weight: bold;
	min-width: 100%;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-row.tabulator-group:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
	margin-right: 10px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	border-bottom: 0;
}

.tabulator-row.tabulator-group.tabulator-group-level-1 {
	padding-left: 30px;
}

.tabulator-row.tabulator-group.tabulator-group-level-2 {
	padding-left: 50px;
}

.tabulator-row.tabulator-group.tabulator-group-level-3 {
	padding-left: 70px;
}

.tabulator-row.tabulator-group.tabulator-group-level-4 {
	padding-left: 90px;
}

.tabulator-row.tabulator-group.tabulator-group-level-5 {
	padding-left: 110px;
}

.tabulator-row.tabulator-group .tabulator-group-toggle {
	display: inline-block;
}

.tabulator-row.tabulator-group .tabulator-arrow {
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 16px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 0;
	border-left: 6px solid #666;
	vertical-align: middle;
}

.tabulator-row.tabulator-group span {
	margin-left: 10px;
	color: #d00;
}

.tabulator-toggle {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	background: #dcdcdc;
}

.tabulator-toggle.tabulator-toggle-on {
	background: #1c6cc2;
}

.tabulator-toggle .tabulator-toggle-switch {
	box-sizing: border-box;
	border: 1px solid #ccc;
	background: #fff;
}

.tabulator-popup-container {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	background: #666;
	border: 1px solid black;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 10000;
}

.tabulator-popup {
	padding: 5px;
	border-radius: 3px;
}

.tabulator-tooltip {
	max-width: Min(500px, 100%);
	padding: 3px 5px;
	border-radius: 2px;
	box-shadow: none;
	font-size: 12px;
	pointer-events: none;
}

.tabulator-menu .tabulator-menu-item {
	position: relative;
	box-sizing: border-box;
	padding: 5px 10px;
	user-select: none;
}

.tabulator-menu .tabulator-menu-item.tabulator-menu-item-disabled {
	opacity: 0.5;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-menu .tabulator-menu-item:not(.tabulator-menu-item-disabled):hover {
		cursor: pointer;
		background: #444;
	}
}

.tabulator-menu .tabulator-menu-item.tabulator-menu-item-submenu {
	padding-right: 25px;
}

.tabulator-menu .tabulator-menu-item.tabulator-menu-item-submenu::after {
	display: inline-block;
	position: absolute;
	top: calc(5px + 0.4em);
	right: 10px;
	height: 7px;
	width: 7px;
	content: '';
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #888;
	vertical-align: top;
	transform: rotate(45deg);
}

.tabulator-menu .tabulator-menu-separator {
	border-top: 1px solid #888;
}

.tabulator-edit-list {
	max-height: 200px;
	font-size: 14px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.tabulator-edit-list .tabulator-edit-list-item {
	padding: 4px;
	color: #fff;
	outline: none;
}

.tabulator-edit-list .tabulator-edit-list-item.active {
	color: #666;
	background: #999;
}

.tabulator-edit-list .tabulator-edit-list-item.active.focused {
	outline: 1px solid rgba(102, 102, 102, 0.5);
}

.tabulator-edit-list .tabulator-edit-list-item.focused {
	outline: 1px solid #999;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-edit-list .tabulator-edit-list-item:hover {
		cursor: pointer;
		color: #666;
		background: #999;
	}
}

.tabulator-edit-list .tabulator-edit-list-placeholder {
	padding: 4px;
	color: #fff;
	text-align: center;
}

.tabulator-edit-list .tabulator-edit-list-group {
	border-bottom: 1px solid #888;
	padding: 4px;
	padding-top: 6px;
	color: #fff;
	font-weight: bold;
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-2,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-2 {
	padding-left: 12px;
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-3,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-3 {
	padding-left: 20px;
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-4,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-4 {
	padding-left: 28px;
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-5,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-5 {
	padding-left: 36px;
}

.tabulator.tabulator-ltr {
	direction: ltr;
}

.tabulator.tabulator-rtl {
	text-align: initial;
	direction: rtl;
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col {
	text-align: initial;
	border-left: 1px solid #aaa;
	border-right: initial;
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
	margin-right: initial;
	margin-left: -1px;
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
	padding-right: 0;
	padding-left: 25px;
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter {
	left: 8px;
	right: initial;
}

.tabulator.tabulator-rtl .tabulator-tableholder .tabulator-range-overlay .tabulator-range.tabulator-range-active::after {
	content: '';
	position: absolute;
	left: -3px;
	right: initial;
	bottom: -3px;
	width: 6px;
	height: 6px;
	background-color: #ccc;
	border-radius: 999px;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell {
	border-right: initial;
	border-left: 1px solid #888;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell .tabulator-data-tree-branch {
	margin-right: initial;
	margin-left: 5px;
	border-bottom-left-radius: initial;
	border-bottom-right-radius: 1px;
	border-left: initial;
	border-right: 2px solid #888;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell .tabulator-data-tree-control {
	margin-right: initial;
	margin-left: 5px;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
	border-left: 2px solid #888;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right {
	border-right: 2px solid #888;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-col-resize-handle:last-of-type {
	width: 3px;
	margin-left: 0;
	margin-right: -3px;
}

.tabulator.tabulator-rtl .tabulator-footer .tabulator-calcs-holder {
	text-align: initial;
}

.tabulator-print-fullscreen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}

body.tabulator-print-fullscreen-hide > *:not(.tabulator-print-fullscreen) {
	display: none !important;
}

.tabulator-print-table {
	border-collapse: collapse;
}

.tabulator-print-table .tabulator-data-tree-branch {
	display: inline-block;
	vertical-align: middle;
	height: 9px;
	width: 7px;
	margin-top: -9px;
	margin-right: 5px;
	border-bottom-left-radius: 1px;
	border-left: 2px solid #888;
	border-bottom: 2px solid #888;
}

.tabulator-print-table .tabulator-print-table-group {
	box-sizing: border-box;
	border-bottom: 1px solid #999;
	border-right: 1px solid #888;
	border-top: 1px solid #999;
	padding: 5px;
	padding-left: 10px;
	background: #ccc;
	font-weight: bold;
	color: #333;
	min-width: 100%;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-print-table .tabulator-print-table-group:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-visible .tabulator-arrow {
	margin-right: 10px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	border-bottom: 0;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-1 td {
	padding-left: 30px !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-2 td {
	padding-left: 50px !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-3 td {
	padding-left: 70px !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-4 td {
	padding-left: 90px !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-5 td {
	padding-left: 110px !important;
}

.tabulator-print-table .tabulator-print-table-group .tabulator-group-toggle {
	display: inline-block;
}

.tabulator-print-table .tabulator-print-table-group .tabulator-arrow {
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 16px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 0;
	border-left: 6px solid #666;
	vertical-align: middle;
}

.tabulator-print-table .tabulator-print-table-group span {
	margin-left: 10px;
	color: #d00;
}

.tabulator-print-table .tabulator-data-tree-control {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	height: 11px;
	width: 11px;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

@media (hover: hover) and (pointer: fine) {
	.tabulator-print-table .tabulator-data-tree-control:hover {
		cursor: pointer;
		background: rgba(0, 0, 0, 0.2);
	}
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-collapse {
	display: inline-block;
	position: relative;
	height: 7px;
	width: 1px;
	background: transparent;
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
	position: absolute;
	content: '';
	left: -3px;
	top: 3px;
	height: 1px;
	width: 7px;
	background: #fff;
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-expand {
	display: inline-block;
	position: relative;
	height: 7px;
	width: 1px;
	background: #fff;
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
	position: absolute;
	content: '';
	left: -3px;
	top: 3px;
	height: 1px;
	width: 7px;
	background: #fff;
}

a {
	text-decoration: none;
	color: var(--LinkFontColor);
}

.tabulator-tree-level-1 {
	background-color: rgb(255, 255, 255);
	color: black;
}
.tabulator-tree-level-2 {
	background-color: rgb(255, 255, 255);
	color: black;
}
.tabulator-tree-level-1:nth-child(even) {
	background-color: rgb(228, 228, 228);
	color: black;
}
.tabulator-tree-level-2:nth-child(even) {
	background-color: rgb(228, 228, 228);
	color: black;
}

.tabulator-print-table-row td {
	font-size: 15pt !important;
}

/* .tabulator {
	border-top: 1px solid black;
} */

/* .tabulator {
	border-right: 3px solid red;
} */

.rotateMe {
	rotate: -90deg;
	height: 600px;
}
